.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /*bringyourownprefixes*/transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
  .valign {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }.col-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: none;
  }
  .font-dosis{
    font-family: 'Merriweather Sans', sans-serif;
  }
  @media (min-width: 576px){
  .card-deck .card {
    
      margin-right: 0px;
     
      margin-left: 0px;
  }}

  .swal-footer {
     text-align: center;
  }